{% extends "base.html" %} {% block title %} Silo {% endblock %} {% block head %} {{ super() }} {% endblock
%} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Silo de unidades de construcción</h1>
        <!--<div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>-->
    </div>

    {% if siloStatus == 200: %}
    <div class="card-columns">
        {% for image in images.repositories %} 
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">UC-{{ image }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ image }}</h5>
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h4 class="text-center text-primary">Error al obtener las imágenes del silo!</h4>
        {% if images: %}
            <p>{{ images.error }}</p>
        {% endif %} 
    {% endif %}
    
</main>
</div>
</div>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}