
{% extends 'base.html' %} {% block title %} Container Creation {% endblock %} {% block head %} {{ super() }} {% endblock %} {%
block content %}
<link href="{{url_for('static', filename='css/details_page.css')}}" rel="stylesheet"> 
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 py-1 position-relative">
    <div class="row titlebar p-3">
        <div class="d-flex p-2 justify-content-between align-items-center">
            <h4 class="m-2">Container Commit Tool</h4>
        </div>
    </div>
    <!-- CONTAINER CREATION TOOL TEMPLATE -->
    <div class="page d-flex flex-column p-3">
        <div class="page-body d-flex flex-column p-2">
            <div class="container-options d-flex flex-wrap pb-3">
                <!-- CONFIGS CARD -->
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" onclick="collapseCard(event)">
                        <strong>Commit configs</strong>
                        <span data-feather="chevron-down"></span>
                    </div>
                    <!-- STRINGS INPUTS -->
                    <div class="card-body p-1 d-flex flex-wrap">
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="hostname">Host name:</label>
                            <input autocomplete="off" id="hostname" type="text" placeholder="Host Name" class="form-control" pattern="[\w-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="domainname">Domain name:</label>
                            <input autocomplete="off" id="apiversion" type="text" placeholder="Domain Name" class="form-control" pattern="[0-9.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="workingdir">Working Dir:</label>
                            <input autocomplete="off" id="workingdir" type="text" placeholder="Working Dir" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="user">User:</label>
                            <input autocomplete="off" id="user" type="text" placeholder="User" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="image">Image:</label>
                            <input autocomplete="off" id="image" type="text" placeholder="Image" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="macaddress">Mac Address:</label>
                            <input autocomplete="off" id="macaddress" type="text" placeholder="Mac Address" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="stopsignal">Stop Signal:</label>
                            <input autocomplete="off" id="stopsignal" type="text" placeholder="Stop Signal" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <!-- INTEGERS INPUTS -->
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="stopTimeout">Stop timeout:</label>
                            <input autocomplete="off" id="stopTimeout" type="number" placeholder="Stop timeout" class="form-control">
                        </div>
                        <!-- LISTS INPUTS -->
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="command">Commands to run:</label>
                                <button onclick="showLModal('command')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="command" type="text" placeholder="Commands" class="form-control" readonly oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="entrypoint">Entrypoint:</label>
                                <button onclick="showLModal('entrypoint')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="entrypoint" type="text" placeholder="Entrypoint" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="shell">Shell:</label>
                                <button onclick="showLModal('shell')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="shell" type="text" placeholder="Shell" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="env">Environment Variables:</label>
                                <button onclick="showLModal('env')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="env" type="text" placeholder="VAR=VALUE..." class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="onbuild">On Build:</label>
                                <button onclick="showLModal('onbuild')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="onbuild" type="text" placeholder="ONBUILD Dockerfile Metadata" class="form-control" readonly>
                        </div>
                        <!-- DICTIONARY INPUTS -->
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="exposedports">Exposed Ports:</label>
                                <button onclick="showDictModal('exposedports')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="exposedports" type="text" placeholder="Exposed Ports" class="form-control" readonly oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="volumes">Volumes:</label>
                                <button onclick="showDictModal('volumes')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="volumes" type="text" placeholder="Volumes" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="labels">Labels:</label>
                                <button onclick="showDictModal('labels')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="labels" type="text" placeholder="Labels" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="healthcheck">Healthcheck Config:</label>
                                <button onclick="showDictModal('healthcheck')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="healthcheck" type="text" placeholder="Healthcheck config" class="form-control" readonly>
                        </div>
                        <!-- BOOLEAN INPUTS -->
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkTty" type="checkbox">
                            <label for="chkTty" class="ml-1 mb-0 mr-2">Enable tty?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkAutoremove" type="checkbox">
                            <label for="chkAutoremove" class="ml-1 mb-0 mr-2">Autoremove?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkDetach" type="checkbox">
                            <label for="chkDetach" class="ml-1 mb-0 mr-2">Detach?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkPublishAll" type="checkbox">
                            <label for="chkPublishAll" class="ml-1 mb-0 mr-2">Publish all ports?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkReadOnly" type="checkbox">
                            <label for="chkReadOnly" class="ml-1 mb-0 mr-2">Read only?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkPrivileged" type="checkbox">
                            <label for="chkPrivileged" class="ml-1 mb-0 mr-2">Privileged?</label>
                        </div>
                    </div>
                </div>
        <div class="fixed-bottom bg-primary w-100 text-white page-footer d-flex flex-row justify-content-around align-items-center">
            <button class="btn btn-sm btn-success m-1" onclick="commitContainer()">Commit</button>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/containers/commit.js')}}"></script>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}
