{% extends 'base.html' %} {% block title %} Image Builder {% endblock %} {% block head %} {{ super() }} {% endblock %} {%block content %}
<link href="{{url_for('static', filename='css/creator.css')}}" rel="stylesheet"> 
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 py-1 position-relative">
    <div class="row titlebar p-3">
        <div class="d-flex p-2 justify-content-between align-items-center">
            <h4 class="m-2">Image Bulider</h4>
        </div>
    </div>
    <form action="/images/build" method="POST" enctype="multipart/form-data">
        <div class="page d-flex flex-column p-3">
            <div class="page-body d-flex flex-wrap p-2">
                <div class="d-flex w-100">
                    <div id="dockerfile-content" class="bg-light w-100">
                        <div class="tabs bg-dark shadow-sm d-flex w-100 p-0 m-0">
                            <input type="button" id="btnToggleFile" class="btn btn-sm rounded-0 btn-primary" value="Upload file">
                        </div>
                        <div class="tabs-content p-2">
                            <div id="file-tab" class="">
                                <div class="form-group">
                                    <label for="fileInput">File input...</label>
                                    <input type="file" class="form-control-file" id="fileInput" name="file" accept=".tar.gz,.zip">
                                </div>
                                <input id="customContext" name="customContext" class="form-control d-none" type="text" placeholder="Custom context path(Optional)">
                            </div>
                            <div id="path-tab" class="d-none">
                                <div class="p-2 d-flex flex-column">
                                    <input id="dockerfileDirectory" name="dockerfileDirectory" type="text" class="form-control w-50" placeholder="Dockerfile path"> Or
                                    <button type="button" class="btn btn-sm btn-primary w-25">Make a dockerfile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- STRS -->
                <div class="d-flex flex-wrap">
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="path">Path to directory containing dockerfile(Context):</label>
                        <input autocomplete="off" id="path" name="path" type="text" placeholder="Directory path" class="form-control">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="tag">Tag:</label>
                        <input autocomplete="off" id="tag" name="tag" type="text" placeholder="Tag" class="form-control" pattern="[\w_-\:\w_-]+$" oninput="setCustomValidity('')">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="enconding">Encoding:</label>
                        <input autocomplete="off" id="enconding" name="enconding" type="text" placeholder="Encoding" class="form-control" pattern="[\w_-]+$" oninput="setCustomValidity('')">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="dockerile">Dockerfile path:</label>
                        <input autocomplete="off" id="dockerfile" name="dockerfile" type="text" placeholder="Docker file path within the build context" class="form-control" pattern="[\w_-/]+$" oninput="setCustomValidity('')">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="network-mode">Network Mode:</label>
                        <input autocomplete="off" id="networkMode" name="networkMode" type="text" placeholder="Network mode" class="form-control" pattern="[\w_-]+$" oninput="setCustomValidity('')">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="platform">Platform:</label>
                        <input autocomplete="off" id="Platform" name="Platform" type="text" placeholder="Platform" class="form-control" pattern="[\w_-]+$" oninput="setCustomValidity('')">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="isolation">Isolation:</label>
                        <input autocomplete="off" id="isolation" name="isolation" type="text" placeholder="Isolation" class="form-control" pattern="[\w_-]+$" oninput="setCustomValidity('')">
                    </div>
                </div>
                <!-- NUMBERS -->
                <div class="d-flex flex-wrap">
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="timeout">Timeout: </label>
                        <input autocomplete="off" id="timeout" name="timeout" type="number" placeholder="Time out" class="form-control">
                    </div>
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <label for="shmsize">SHM Size: </label>
                        <input autocomplete="off" id="shmsize" name="shmsize" type="number" placeholder="SHM Size" class="form-control">
                    </div>
                </div>
                <!-- LISTS -->
                <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="py-0 my-0" for="cacheFrom">Cache From:</label>
                        <button type="button" onclick="showLModal('cacheFrom')" class="btn btn-sm btn-primary my-1" >add</button>
                    </div>
                    <input autocomplete="off" id="cacheFrom" name="cacheFrom" type="text" placeholder="Cache From" class="form-control" readonly oninput="setCustomValidity('')">
                </div>
                <!-- DICTIONARIES -->
                <div class="d-flex flex-wrap">
                    <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="py-0 my-0" for="buildargs">Build args:</label>
                            <button type="button" onclick="showDictModal('buildargs')" class="btn btn-sm btn-primary my-1" >add</button>
                        </div>
                        <input autocomplete="off" id="buildargs" name="buildargs" type="text" placeholder="Build Args" class="form-control" readonly>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="input-group-sm m-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="py-0 my-0" for="containerLimits">Container Limits:</label>
                            <button type="button" onclick="showDictModal('containerLimits')" class="btn btn-sm btn-primary my-1" >add</button>
                        </div>
                        <input autocomplete="off" id="containerLimits" name="containerLimits" type="text" placeholder="Container Limits" class="form-control" readonly oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="input-group-sm m-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="py-0 my-0" for="extraHosts">Extra Hosts:</label>
                            <button type="button" onclick="showDictModal('extraHosts')" class="btn btn-sm btn-primary my-1" >add</button>
                        </div>
                        <input autocomplete="off" id="extraHosts" name="extraHosts" type="text" placeholder="Extra hosts" class="form-control" readonly oninput="setCustomValidity('')">
                    </div>
                </div>
                <!-- BOOLS -->
                <div class="d-flex flex-wrap">
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" autocomplete="off" id="chkTty" name="chkTty" type="checkbox">
                        <label class="m-0 p-0" for="chkTty" class="ml-1 mb-0 mr-2">Enable tty?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="quiet" name="quiet" type="checkbox">
                        <label class="m-0 p-0" for="quiet">Quiet?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="noCache" name="noCache" type="checkbox">
                        <label class="m-0 p-0" for="noCache">No Cache?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="rm" name="rm" type="checkbox">
                        <label class="m-0 p-0" for="rm">Remove intermediate containers?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="forceRm" name="forceRm" type="checkbox">
                        <label class="m-0 p-0" for="forceRm">Force remove intermediate containers?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="pull" name="pull" type="checkbox">
                        <label class="m-0 p-0" for="pull">Pull updates?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="squash" name="squash" type="checkbox">
                        <label class="m-0 p-0" for="squash">Squash?</label>
                    </div>
                    <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                        <input class="mr-1" id="useConfigProxy" name="useConfigProxy" type="checkbox">
                        <label class="m-0 p-0" for="useConfigProxy">Use config proxy?</label>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom bg-primary w-100 text-white page-footer d-flex flex-row justify-content-end align-items-center px-5">
                <input id="btnSubmit" type="submit" class="btn btn-sm btn-success m-1">
            </div>
        </div>
    </form>
    <script src="{{url_for('static', filename='js/images/builder.js')}}"></script>
    {% if error %}
    <script>
        error('{{ error["error"] }}');
        // used only to decode the error message
        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
        function error(obj) {
            console.log('An error ocurred building image, error: ', decodeHtml(obj));
            showAlert(`An error has ocurred building image, check logs.`, 'danger');
        }
    </script>
    {% endif %}
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}
