{% extends 'base.html' %} {% block title %} Images {% endblock %} {% block head %} {{ super() }} {% endblock %} {%
block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 py-1 position-relative">
    <div class="site-content">
        <!-- CONTAINER LIST PANEL *** START ***-->
        <div class="content m-0">
            <div class="row titlebar p-3">
                <div class="d-flex p-2 justify-content-between align-items-center">
                    <h4 class="m-2">Image List</h4>
                </div>
                <div class="options">
                    <div class="searchbar">
                        <input oninput="searchImages()" type="text" id="searchImagesText" class="form-control" placeholder="Search">
                    </div>
                    <div class="view-format">
                        <span onclick="refreshImageTable()" data-feather="refresh-cw"></span>
                    </div>
                </div>
            </div>
            <div class="data-content">
                <div id="imagesPanel" class="row">
                    <div id="imagesGrid" class="images-grid images">
                        <div class="card-columns"></div>
                    </div>
                    <div id="imagesList" class="images-list images">
                        <div class="list-group">
                            <table class="table table-bordered table-stripped table-responsive table-hover">
                                <thead class="thead-dark">
                                    <tr class="d-flex">
                                        <th class="col-s-1" scope="col">#</th>
                                        <th class="col-s-1" scope="col">DEL</th>
                                        <th class="col-5" scope="col">Image ID</th>
                                        <th class="col-3" scope="col">Image Tags</th>
                                        <th class="col-1" scope="col">Created</th>
                                        <th class="col-1" scope="col">Size</th>
                                        <th class="col-3" scope="col">More</th>
                                    </tr>
                                </thead>
                                <tbody id="images-table" class="table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tabs" class="my-0 px-1 d-flex justify-content-between align-items-center">
                    <!-- REVIEW: CONSIDER USING DYNAMIC TABS FOR MULTIPLE PRIVATE REPOSITORIES -->
                    <h4>Repository</h4>
                    <div class="options">
                        <div class="form-group mx-3 mt-3">
                            <select class="form-control" id="registrySearchType" onchange="searchOn()" autocomplete="off">
                                <option value="registry">Private Repository</option>
                                <option value="dockerhub">Search on dockerhub</option>
                            </select>
                        </div>
                        <div class="searchbar">
                            <input oninput="searchRegistry()" type="text" id="searchRegistryText" class="form-control" placeholder="Search" autocomplete="off">
                        </div>
                        <div class="view-format">
                            <span onclick="refresh()" data-feather="refresh-cw"></span>
                        </div>
                    </div>
                </div>
                <div class="repositories">
                    <div id="rep-1-tab">
                        <!-- TODO: ADD PULL FROM REGISTRY(DOCKERHUB) AND PUSH TO LOCAL REGISTRY ACTION -->
                        <!-- CONTENT EXAMPLE, CHANGE WITH JS-->
                        <table class="table table-bordered table-stripped table-responsive-sm table-hover">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-s-2" scope="col">#</th>
                                    <th class="col-5" scope="col">Name</th>
                                    <th class="col-5" scope="col">Tags</th>
                                    <th class="col-2" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="rep-1-table" class="table-body">
                            </tbody>
                        </table>
                    </div>
                    <div id="rep-dockerhub">
                        <table class="table table-bordered table-stripped table-responsive-sm table-hover">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-s-2" scope="col">#</th>
                                    <th class="col-3" scope="col">Name</th>
                                    <th class="col-4" scope="col">Description</th>
                                    <th class="col-1" scope="col">Stars</th>
                                    <th class="col-1" scope="col">Official</th>
                                    <th class="col-1" scope="col">Automated</th>
                                    <th class="col-2" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="dockerhubRepsTable" class="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- CONTAINER LIST PANEL ***  END  ***-->
    </div>
    <script src="{{url_for('static', filename='js/images.js')}}"></script>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}
